@media (max-width: 1764px) {
    .cards {
        margin-top:80px;
    }
}

@media (min-width: 778px) {
    /* .cardd {
        min-width: 400px;
    } */
}

.cardd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
@media (max-width: 756px) {
    .navbar {
        justify-content: center;
    }

    .cards {
        margin-top: -30px;
    }

    .navbar .second-navbar-button {
        margin-right: 50px;
    }

    

    .cards .cardd {
        flex-direction: column;
        align-items: center;
    }

    .first-cards {
        padding: 0;
    }
    .cardd {
        width: 300px !important;
        height: 200px !important;
    }

    .cardd logo {
        width: 300px !important;
        height: 300px !important;
    }

    .header .navbar {
        display: none;
    }

    .cardd img {
        width: 50%;
        height: 60%;   
    }

    .cardd {
        height: 200px !important;
    }
}