.Main {
    background: url('images/bg.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
}

.Main .btn {
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
    transition: .3s;
}

.Main .btn:hover {
    box-shadow: 0px 0px 10px 3px rgba(255,255,255,0.5);
}

/* background-color: rgba(10,10,10, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply; */

@media (min-width: 778px) {
  .Main a {
    padding: 1rem;
  }
}

@media (max-width: 756px) {
  .Main a {
    padding: 0.7rem;
  }
  .Main h1 {
    font-size: 1.5em;
  }
  .Main .second-h1 {
    margin-bottom: 10px;
  }
}
